{{define "main"}}
<section id="intro" class="bg-white overflow-x-hidden">
    <div class="m-auto max-w-7xl px-4 pt-12 pb-20 flex flex-col xl:flex-row space-y-16 md:space-y-20 xl:space-y-0">
        <div
            class="flex flex-col xl:min-w-[44%] xl:justify-center space-y-8 text-center xl:text-left items-center xl:items-start">
            <h2 class="max-w-lg text-3xl font-light xl:text-left text-gray-900">
                Save
                <span class="font-bold text-rose-900">money</span>
                &amp;
                <span class="font-bold text-rose-900">resources</span>
                by self hosting your web analytics
            </h2>
            <span class="text-lg text-gray-700 max-w-xl">
                Own and control your data. Respect your user privacy and be GDPR compliant.
                Deploy on cheapest cloud instance painlessly.
            </span>

            <nav class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-6"> <a
                    class="pl-2 pr-8 py-3 flex items-center rounded-xl bg-rose-300 text-black" href="#install">
                    <div class="flex flex-col px-4"> <span class="font-bold">Install vince</span> <span
                            class="text-sm">Locally or on the cloud</span> </div>
                </a> <a class="pl-2 pr-8 py-3 flex items-center rounded-xl text-gray-700 border-2 border-gray-300"
                    href="/demo" target="_blank"> <i class="ri-github-line px-4 text-3xl text-gray-400"
                        aria-hidden="true"></i>
                    <div class="flex flex-col"> <span class="font-bold">View Live Demo</span>
                        <span class="text-sm">Running on $5 instance</span>
                    </div>
                </a> </nav>
        </div>
</section>
{{end}}