{{define "main"}}
<div class="container relative pb-12 lg:pb-16 xl:pb-20">
    <div>
        <h1 class="font-extrabold tracking-tight text-gray-900 leading-10 sm:text-4xl sm:leading-none md:text-5xl">
            Getting started
        </h1>
    </div>
    <div class="mt-8 prose">

        <h2>Installation script</h2>

        <pre><code>curl -fsSL https://vinceanalytics.com/install.sh | bash
</code></pre>

        <h3>Homebrew</h3>

        <pre><code>brew install vinceanalytics/tap/vince
</code></pre>

        <h2>Container image</h2>

        <pre><code>docker pull ghcr.io/vinceanalytics/vince
</code></pre>

        <h2>Usage</h2>

        <pre><code>Usage of vince:
  -acme
        Enables auto tls. When used make sure -acme.email and -acme.domain are set
  -acme.domain string
        Domain name to use with lets encrypt
  -acme.email string
        Email address to use with lets enctrypt
  -admin.bootstrap
        Creates admin account on startup
  -admin.email string
        Email address for admin account
  -admin.name string
        User name for admin account
  -admin.only
        Disables registration
  -admin.password string
        Password for admin account
  -data string
        Path to where database data is stored (default ".data")
  -db.gc duration
        Interval for running GC checks on value log (default 1m0s)
  -listen string
        tcp address to bind the server (default ":8080")
  -sys.interval duration
        Interval for collecting system stats (default 15m0s)
</code></pre>

        <h1>Starting server</h1>

        <pre><code>vince
</code></pre>

    </div>
</div>
</div>
{{end}}