<section id="guides" class="bg-gray-100">
    <div class="m-auto max-w-7xl px-4 pt-10 md:pt-20 flex flex-col items-center">
        {{.guides}}
    </div>
</section>
<footer class="border-t-[2px] border-rose-800 bg-rose-200 p-4 md:p-12">
    <div class="container py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div class="xl:grid xl:grid-cols-3 xl:gap-8">
            <div class="my-8 xl:my-0">
                <h4 class="leading-5 font-semibold tracking-wider text-gray-300">
                    <img src="/images/logo.png" class="inline-block w-44 mr-1" />
                </h4>
                <p class="mt-4  text-base leading-6">
                    Made in Tanzania <span class="text-lg">🇹🇿</span><br />
                </p>
            </div>
        </div>
    </div>
</footer>